#welcome{
  font-family:'Orbitron', sans-serif;
  color: blue;

}
.introduction{
  font-family: 'Berkshire Swash', cursive;
}
#search-button{
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: red;
}
#search-input{
  font-style: italic;
}


/* .container {
  display: flex;
  flex-wrap: wrap;
} */

#results{
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  color: red;
  background-image:url("images/Background.jpg");

  /*max-width: 30px;*/
}
#results img{
  max-width: 250px;
  max-height: 250px;
  
}

#body{
  background-color: rgb(51, 204, 255);

}
