#header {
  background-color: black;
  background-image: url("../images/ezgif.com-resize.gif");
  background-repeat: repeat-x;
  background-size: contain;
  height: 210px;
  text-align: center;
  border: 1px solid lime;
}

#body {
  background-image: url("../images/background-mario.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#welcome {
  font-family: 'Press Start 2P', cursive;
  color: lime;
  margin-top: 6px;
  /* min-width: 768px; */
}

.introduction {
  font-family: 'Press Start 2P', cursive;
  color: lime;
  display: inline;
  position: relative;
  top: 2px;
}

.filter-box {
  font-family: 'Press Start 2P', cursive;
  color: lime;
  display: inline;
  position: relative;
  top: 2px;
  margin-left: 30px;
}

.drop-down{
  margin-top: 6px;
}

#results h3 {
  padding-top: 10px;
}

#search-button {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: lime;
  height: 30px;
  padding-top: 4px;
  border: 1px solid lime;
  background: black;
}

#search-button:hover {
  cursor: pointer;
}

#search-input {
  font-style: italic;
  height: 30px;
}

.col-sm-4 {
  margin: 10px;
}

#search {
  width: 700px;
  margin: 0 auto;
  margin-top: 80px;
}

.col-sm-4:hover {
  cursor: pointer;
  transform: translate(0px, -10px);
  transition: 0.1s;
}

#results {
  color: maroon;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin: 0px;
}

.game {
  border: solid black 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px;
  padding: 10px;
  overflow-wrap: break-word;
}

.image {
  max-width: 200px;
  max-height: 200px;
  border: solid black 2px;
  margin: 15px auto;
  display: block;
}

.row {
  justify-content: center;
}

.keyword {
  margin-top: 30px;
}

.game-descrip {
  font-family: 'Orbitron', sans-serif;
  text-align: left;
}

.release-date {
  font-size: 12px;
}

.platform-list {
  font-size: 12px;
}

.game-title {
  color: navy;
}

/* button.add-fave-btn {
  border: 1px solid black;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  background: rgb(221, 221, 221);
} */

#faves {
  position: absolute;
  background: white;
  width: 75%;
  height: 100%;
  z-index: 1;
  padding: 15px;
  transform: translate(-101%, 0px);
  transition: 0.1s;
  /* display: none; */
  border-radius: 25px;
  background: rgba(0, 255, 0, 0.9);
}

#faves-list {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
}

.fave-games {
  font-family: 'Orbitron', sans-serif;
  padding-top: 20px;
}

.fave-remove {
  cursor: pointer;
}

.faves-show {
  transform: translate(0px, 0px) !important;
}

.favesmenu-icon {
  color: white;
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 10px;
}

button.exit {
  position: relative;
  top: -4px;
  left: -6px;
  padding: 0px 7px;
}

button.exit:hover {
  cursor: pointer;
}

.fa-bars:before {
  content: "\f0c9";
  cursor: pointer;
  color: lime;
}

.music {
  display: none;
}

/* MEDIA QUERYS!!!! */

@media screen and (max-width: 768px) {
  #welcome .row div h1 {
    font-size: 1.2rem;
    max-width: 95%;
  }
  .introduction {
    display: block;
  }
  #search {
    width: initial;
  }
  #search-input {
    width: 160px;
  }
  #header {
    height: 250px;
    background-repeat: no-repeat;
  }
  #faves {
    width: 100%;
  }
  .col-sm-4:hover {
    transform: none;
  }
}
