#body {
  background-image: url("../images/background-mario.jpg");
  background-size: cover;
  text-align: right;
}

#welcome {
  font-family: 'Press Start 2P', cursive;
  color: lime;
}

#header {
  background-color: inherit;
  background-image: url("../images/ezgif.com-resize.gif");
  /* background-repeat: no-repeat; */
  background-size: contain;
  height: 200px;
   /* background-repeat: no-repeat; */
   /* background-size: cover; */
  border: solid green 2px;
}

.introduction {
  font-family: 'Press Start 2P', cursive;
  color: lime;
  display: inline;
  padding-right: 80px;


}

#results h3{
  padding-top:  10px;
}

#search-button {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: black;
  margin-top: 10px;
  margin-right: 325px;

}

#search-button:hover {
  cursor: pointer;
}

#search-input {
  font-style: italic;
  padding-top: 0px;
  padding-bottom: 4.5px;
  border: 0px;

}

.col-sm-4 {
  margin: 10px;
}

#search{
  padding-top: 50px;
}

.col-sm-4:hover {
  cursor: pointer;
  /* animation: bounce 1s; */
  transform: translate(0px, -10px);
  transition: 0.1s;
}

#results {
  font-size: 10px;
  color: maroon;
  font-family: 'Press Start 2P', cursive;
  background-image: url("../images/background-mario.jpg");
  /* filter: blur(15px); */
  background-size: cover;
  text-align: center;
  background-color: rgba(255, 255, 255, .5);
  background-attachment: fixed;
}

.game {
  border: solid black 2px;
  background-color: rgba(255, 255, 255, 0.5);
}

.image {
  max-width: 150px;
  max-height: 150px;
  border: solid black 2px;
}

img.image {
  margin: 5px;
}



.row {
  justify-content: center;
}

.keyword {
  margin-top: 30px;
}

/* MEDIA QUERYS!!!! */
