#body {
  background-image: url("../images/background-mario.jpg");
  background-size: cover;
  /* text-align: right; */
  /* align-content: center; */
}

#welcome {
  font-family: 'Press Start 2P', cursive;
  color: lime;
  margin-top: 6px;
  /* min-width: 768px; */
}

#header {
  background-color: black;
  background-image: url("../images/ezgif.com-resize.gif");
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 200px;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  border: solid green 2px;
}

.introduction {
  font-family: 'Press Start 2P', cursive;
  color: lime;
  display: inline;
  position: relative;
  top: 2px;
}

#results h3 {
  padding-top: 10px;
}

#search-button {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: black;
  height: 30px;
  padding-top: 4px;
}

#search-button:hover {
  cursor: pointer;
}

#search-input {
  font-style: italic;
  height: 30px;
}

.col-sm-4 {
  margin: 10px;
}

#search {
  width: 700px;
  margin: 0 auto;
  margin-top: 80px;
}

.col-sm-4:hover {
  cursor: pointer;
  transform: translate(0px, -10px);
  transition: 0.1s;
}

#results {
  color: maroon;
  font-family: 'Press Start 2P', cursive;
  background-image: url("../images/background-mario.jpg");
  /* filter: blur(15px); */
  background-size: cover;
  text-align: center;
  background-color: rgba(255, 255, 255, .5);
  background-attachment: fixed;
}

.game {
  border: solid black 2px;
  background-color: rgba(255, 255, 255, 0.5);
}

.image {
  max-width: 150px;
  max-height: 150px;
  border: solid black 2px;
}

img.image {
  margin: 5px;
}

.row {
  justify-content: center;
}

.keyword {
  margin-top: 30px;
}

.game-descrip {
  font-family: 'Orbitron', sans-serif;
  text-align: left;
}

.release-date {
  font-size: 12px;
}

.platform-list {
  font-size: 12px;
}

.game-title {
  color: navy;
}

/* MEDIA QUERYS!!!! */

@media screen
  and (max-width: 768px) {

    #welcome .row div h1 {
      font-size: 1.0rem;
    }

    .introduction {
      display: block;
    }

    #search {
      width: initial;
    }

    #header {
      height: 230px;
    }

}


/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {} */
